:root {
    --font: Rubik;
    --title-font-size: 20px;
    --date-font-size: 10px;
    --title-font-weight: bold;
    --date-font-color: #8c979a;
    --primary-font-color: rgba(0, 0, 0, .9);
    --secondary-font-color: rgba(0, 0, 0, .7);
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #f7f2ed;
}

.content-container {
    max-width: 100%;
    margin: 10px 100px 10px 100px;
    display: grid;
    grid-template-rows: 50px 800px 150px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-template-areas:
        "header header header"
        "content1 content1 content1"
        "footer footer footer";
}

.header-container {
    grid-area: header;
    border: 1px solid green;
    display: flex;
    
}

.nav {
    float: left;
    margin-left: auto;
    margin-right: 10px;
    font-family: var(--font);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .19em;
}


ul {
    list-style: none;
}

li {
    display: inline;
    margin-right: 10px;
    color: var(--secondary-font-color);
}


.content-row-1 {
    grid-area: content1;
    border: 1px solid blue;
    display: grid;
    grid-template-areas: 
         "content-r1 content-r1 content-r1"
         "content-r2 content-r2 content-r2"

}



.blog-item-r1, .blog-item-r2 {
    border: 1px solid purple;
    display: flex;
    margin: 20px 20px 20px 20px;

}

.blog-post-info {
    float: bottom;
    font-family: var(--font);
}

.post-image {
    border: 1px solid black;

    height: 70%;
    width: 100%;     
}

.post-title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--primary-font-color);
}

.post-date {
    font-size: var(--date-font-size);
    color: var(--secondary-font-color);
}


.footer {
    grid-area: footer;
    border: 1px solid red;
}

.search-container {
    display: inline-block;
}